# Compiler files
cache/
out/

# Ignores development (and goerli) broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/5/
/broadcast/**/dry-run/

# Papers
docs/papers/

# cursor rules
.cursor/

# Dotenv file
.env

# Node modules
node_modules/

lib/dopper/lib/docs/doppler/
